<span style="font-size: 20px;">1st Question</span>

In [4]:
SELECT
    emp_no AS "Employee Number",
    last_name AS "Last Name",
    first_name AS "First Name",
    sex AS "Sex",
    (SELECT salary FROM Salaries WHERE emp_no = Employees.emp_no) AS "Salary"
FROM
    Employees
    Limit (100);

Employee Number,Last Name,First Name,Sex,Salary
473302,Zallocco,Hideyuki,M,40000
475053,Delgrande,Byong,F,53422
57444,Babb,Berry,F,48973
421786,Verhoeff,Xiong,M,40000
282238,Baumann,Abdelkader,F,40000
263976,Cusworth,Eran,M,40000
273487,Parfitt,Christoph,M,56087
461591,Samarati,Xudong,M,40000
477657,Magliocco,Lihong,M,54816
219881,Speek,Kwangyoen,F,40000
29920,Tyugu,Shuichi,F,40000
208153,Lunn,Abdulah,M,50183
13616,Lorho,Perry,F,40000
246449,Bultermann,Subbu,F,87084
21529,Zallocco,Bojan,M,40000
17934,Wuwongse,Bilhanan,M,48795
48085,Gilg,Venkatesan,M,63016
239838,Dulli,Naftali,M,57715
240129,Karnin,Roddy,M,43548
205246,Demizu,Nevio,F,80252
476443,Asmuth,Ziya,M,63371
424270,Yoshizawa,Kellyn,F,60678
71530,McAlpine,Venkatesan,M,69148
427958,Poujol,Feixiong,F,63377
280408,Perl,Elliott,M,75963
104639,Escriba,Theron,F,40000
214555,Copas,Nechama,F,40000
229010,Cappelli,Mark,M,40000
35916,Talmon,Wonhee,F,40000
61583,Vecchi,Ziva,M,50801
67799,Cools,Pantung,M,48111
37061,Herbst,Piyawadee,F,40000
411412,Schaar,Hairong,M,42348
422587,Speek,Mohit,F,40000
35270,Bakhtari,Masali,M,40338
105597,Kabayashi,Christfried,M,43841
244689,Saoudi,Urs,M,40000
48885,Antonisse,Phuoc,M,55736
244492,Pettit,Shaunak,M,63685
215615,Chinal,Bader,F,40000
95280,Hiraishi,Owen,F,40000
37473,Valette,Prasadram,M,55963
43471,Gihr,Mechthild,F,40023
289261,Nollmann,Gad,M,63068
26941,Masamoto,Shigeu,M,40000
465253,Yoshimura,Gladys,F,43653
444985,Verspoor,Giap,F,71042
299898,Janocha,Munehiko,M,63315
492723,Sanella,Piyawadee,M,46740
425023,Krone,Shaowen,M,45682
411614,Wynblatt,Martins,M,54770
425656,Imataki,Basem,M,40000
252000,Gyimothy,Zhonghui,F,40000
477628,Beutelspacher,Duro,M,58592
103676,Matzov,Karoline,F,62128
93916,Rousseau,Rosalie,F,53040
430653,Peroz,Masoud,F,69077
293744,Carrere,Kolar,M,40000
222134,Speer,Qunsheng,M,48391
465348,Beznosov,Limsoon,M,40000
92149,Kamber,Serenella,F,69585
406318,Gunderson,Hitomi,M,55145
259126,Encarnacion,Dines,M,70329
42625,Swick,Harngdar,F,55095
85093,Covnot,Nectarios,M,97816
281320,Ratzlaff,Karoline,F,41600
402202,Pusterhofer,Leni,M,41006
419277,Uhrig,Freyja,M,46833
451259,Milicic,Zhenhua,M,46138
225842,Schmezko,Bowen,M,40000
62038,Narlikar,Shiv,F,60105
256701,Veevers,Chikako,F,40000
205366,Shimshoni,Kazuhira,F,80518
101013,Pappas,Leen,M,68550
212882,Pietracaprina,Changho,F,40000
21620,Pramanik,Shaowen,M,40000
223670,Chinin,Erez,F,40000
209422,Gischer,Reinhard,M,72780
403328,Kroha,Shem,M,40000
292694,Demizu,Kauko,M,40000
483560,Krybus,Yannik,M,52487
270554,Litecky,Percy,F,40000
37601,Naumovich,Gilbert,M,58896
437985,Munke,Reuven,M,53517
14097,Gniady,Khalil,M,70604
221689,Harllee,Fayez,F,67589
62117,Crouzet,Bojan,F,40000
213813,Matzat,Tsuneo,M,51196
28823,Skafidas,Tonny,M,62549
284330,Pehl,Bangqing,F,43654
107258,Zaumen,Parviz,F,87036
209527,Danlos,Sashi,M,40000
207774,Trachtenberg,KayLiang,M,53722
11980,Pews,Yechezkel,M,58241
270258,Hasenauer,Feipei,M,40000
492191,Vakili,Remco,F,49502
457800,Domenig,Stabislas,M,64014
446142,Zedlitz,Gregory,F,40000
201769,Merel,Jayesh,M,48427
56049,Waymire,Felicidad,F,76782

<span style="color: rgb(43, 43, 43); font-family: Roboto, sans-serif; font-size: 20px; background-color: yellow;">List the first name, last name, and hire date for the employees who were hired in 1986</span>

In [ ]:
SELECT
    last_name AS "Last Name",
    first_name AS "First Name",
    sex AS "Sex",
    (SELECT salary FROM Salaries WHERE emp_no = Employees.emp_no) AS "Salary"
FROM
    Employees
    Limit (100);