<span style="font-size: 20px;">1st Question</span>

In [1]:
SELECT
    emp_no AS "Employee Number",
    last_name AS "Last Name",
    first_name AS "First Name",
    sex AS "Sex",
    (SELECT salary FROM Salaries WHERE emp_no = Employees.emp_no) AS "Salary"
FROM
    Employees
    Limit (10);

Employee Number,Last Name,First Name,Sex,Salary
473302,Zallocco,Hideyuki,M,40000
475053,Delgrande,Byong,F,53422
57444,Babb,Berry,F,48973
421786,Verhoeff,Xiong,M,40000
282238,Baumann,Abdelkader,F,40000
263976,Cusworth,Eran,M,40000
273487,Parfitt,Christoph,M,56087
461591,Samarati,Xudong,M,40000
477657,Magliocco,Lihong,M,54816
219881,Speek,Kwangyoen,F,40000

<span style="color: rgb(43, 43, 43); font-family: Roboto, sans-serif; font-size: 20px; background-color: yellow;">List the first name, last name, and hire date for the employees who were hired in 1986</span>

In [4]:

SELECT
    last_name AS "Last Name",
    first_name AS "First Name",
    hire_date AS "Hire Date"
    from Employees
    WHERE
    hire_date >= DATE '1986-01-01' AND hire_date < DATE '1987-01-01
LIMIT 10;

Last Name,First Name,Hire Date
Cusworth,Eran,1986-11-14
Zallocco,Bojan,1986-10-14
Demizu,Nevio,1986-05-18
Vecchi,Ziva,1986-07-03
Speek,Mohit,1986-01-14
Speer,Qunsheng,1986-02-13
Encarnacion,Dines,1986-08-02
Swick,Harngdar,1986-05-28
Uhrig,Freyja,1986-12-20
Milicic,Zhenhua,1986-08-04

1. List the manager of each department along with their department number, department name, employee number, last name, and first name.

In [8]:
SELECT
    emp_no AS "Employee Number",
    dept_no as "Dapartment Number",
    (SELECT dept_name FROM Departments WHERE dept_no = Dept_Manager.dept_no) AS "Department Name",
    (select last_name from Employees WHERE emp_no = Dept_Manager.emp_no ),
    (select first_name from Employees WHERE emp_no = Dept_Manager.emp_no )
FROM
    Dept_Manager
    Limit (100);

Employee Number,Dapartment Number,Department Name,last_name,first_name
110022,d001,Marketing,Markovitch,Margareta
110039,d001,Marketing,Minakawa,Vishwani
110085,d002,Finance,Alpin,Ebru
110114,d002,Finance,Legleitner,Isamu
110183,d003,Human Resources,Ossenbruggen,Shirish
110228,d003,Human Resources,Sigstam,Karsten
110303,d004,Production,Wegerle,Krassimir
110344,d004,Production,Cools,Rosine
110386,d004,Production,Kieras,Shem
110420,d004,Production,Ghazalie,Oscar
110511,d005,Development,Hagimont,DeForest
110567,d005,Development,DasSarma,Leon
110725,d006,Quality Management,Onuegbe,Peternela
110765,d006,Quality Management,Hofmeyr,Rutger
110800,d006,Quality Management,Quadeer,Sanjoy
110854,d006,Quality Management,Pesch,Dung
111035,d007,Sales,Kaelbling,Przemyslawa
111133,d007,Sales,Zhang,Hauke
111400,d008,Research,Staelin,Arie
111534,d008,Research,Kambil,Hilary
111692,d009,Customer Service,Butterworth,Tonny
111784,d009,Customer Service,Giarratana,Marjo
111877,d009,Customer Service,Spinelli,Xiaobin
111939,d009,Customer Service,Weedman,Yuchang